@model CmsShoppingCart.Models.ViewModels.Cart.CartVM

<div class="header-cart-total w-full p-tb-40">
    Total: $@Model.Price
</div>

<div class="header-cart-buttons flex-w w-full">
    <a href="#" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
        View Cart
    </a>

    <a href="@Url.Action("Index", "Cart")" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10" style="color:white">
        Check Out
    </a>
</div>