@model CmsShoppingCart.Models.ViewModels.Account.UserNavPartialVM

<a href="/account/user-profile" style="color:yellow;">
    <img src="~/images/profile.png" alt="Coza store login Image" />
    @Model.FirstName  @Model.LastName
</a> 